* {
    margin: 11px;
    padding: 11px;
    box-sizing: border-box;
    font-size: 16px; /* 1em = 16px */
}

header {
    background-color: black;
}

.menu {
    background-color: #2d4059;
    display: flex;
    flex-wrap: wrap;
}

.social,
.logo {
    background-color: #ea5455;
    flex-grow: 1;
}

.nav {
    background-color: #ea5455;
    flex-grow: 3;
}

.text {
    background-color: #f07b3f;
}

.text h1 {
    background-color: #fed460;
}

main {
    background-color: black;
    display: flex;
    flex-wrap: row nowrap;
}

section {
    background-color: #4e4e6a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 2;
}

.first {
    background-color: #1f6cb0;
    flex-basis: 370px;
    flex-grow: 1;
}

.second {
    background-color: #70a3c4;
    flex-basis: 400px;
    flex-grow: 2;
}

aside {
    background-color: #f73f52;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.third {
    background-color: #feea85;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}

.pie {
    background-color: #e6af2e;
}

footer {
    background-color: black;
}

.header,
.main,
.footer {
    margin-bottom: 22px;
}

/* CSS media query tablet*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    main {
        background-color: #ffff00;
        display: block;
    }

    .first {
        background-color: #1f6cb0;
        flex-wrap: wrap;
    }
}

/* CSS media query teléfonos */
@media only screen and (max-width: 575px) {
    .menu {
        background-color: #2d4059;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main {
        background-color: #ffff00;
        display: block;
    }

    aside {
        background-color: #fd7b54;
    }

    .third {
        background-color: #fdb36b;
    }

    .pie {
        background-color: #fdc764;
    }
}
